@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,700;1,600;1,700&display=swap");

:root {
  var--desaturatedrose: hsl(0, 93%, 68%);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 1440px; */
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: Josefin Sans, sans-serif;
  background-image: url("images/bg-pattern-desktop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main {
  display: flex;
}

.BA__header {
  background-color: #fff;
  text-align: left;
}

.BA__header-logo {
  width: 100px;
  padding: 23px;
}

.main__container-left {
  border: 2px solid black;
  max-width: 450px;
}

.article__main-Title {
  text-align: center;
  padding-top: 40px;
}

.article__main-PinkTitle {
  color: hsl(0, 36%, 70%);
  font-size: 2.25em;
  font-weight: 200;
  letter-spacing: 8.2px;
  text-transform: uppercase;
}

.article__main-ThickTitle {
  color: hsl(0, 6%, 24%);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2em;
  letter-spacing: 10.2px;
}

.article__main-Paragraph {
  color: hsl(0, 36%, 70%);
  line-height: 1.75em;
  font-size: 0.85em;
  font-weight: 200;
  padding: 15px 42px 20px 42px;
  letter-spacing: 0.2px;
}

#form {
  position: relative;
}

input {
  width: 65%;
  height: 40px;
  border: 0.5px solid hsl(0, 36%, 70%);
  border-radius: 25px;
  padding: 3px 30px;
  font-size: 1em;
  cursor: pointer;
}

input::placeholder {
  color: hsl(0, 36%, 70%);
  font-size: 12px;
  opacity: 1;
}

.error-icon {
  display: none;
  position: absolute;
  top: 14px;
  right: 120px;
}

button {
  background-image: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 4px 4px 4px #aaa;
  padding: 14px;
  height: 47px;
  width: 59px;
  border: none;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 34px;
  cursor: pointer;
  margin: 0;
}

button:hover {
  opacity: 0.75;
}

small {
  color: hsl(0, 93%, 68%);
  display: none;
  margin-top: 10px;
  margin-left: 30px;
}

.right {
  display: none;
}

.mobile-hero {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .mobile-hero {
    display: none;
  }
}
.rightSideImage {
  border: 2px dotted red;
  background-image: url("images/hero-desktop.jpg");
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
}

footer {
  padding: 50px;
}
