/*
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap"rel="stylesheet">

font-family: 'Josefin Sans', sans-serif;
*/

html {
  margin: 0;
  padding: 0;
  max-width: 1440px;
}

body {
  margin: 0;
  width: 100vw;
  font-size: 16px;
  font-family: Josefin Sans, sans-serif;
}

main {
  margin: 0 auto;

}

.header {
  padding: 23px;
  background-color: #FFF;
}

.logo {
  width: 100px;

}

.container {
  width: 100vw;
}

.leftSide {
  background-image: url("images/bg-pattern-desktop.svg");
  background-color: yellow;
  text-align: center;
  margin-top: 50px;
  /*font-family: Josefin Sans, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1em;
  color: hsl(0, 36%, 70%);
  letter-spacing: 14.2px; */
}

.thin-text {
  display: block;
  color: hsl(0, 21%, 39%);
  font-size: 2.25em;
  font-weight: 300;
  letter-spacing: 11.2px;
  text-transform: uppercase;
}

.thick-text {
  color: hsl(0, 6%, 24%);
  font-family: Josefin Sans, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 16.2px;
}

.main-pinkText {
  padding: 0 10% 20px;
  color: hsl(0, 21%, 39%);
  line-height: 1.5em;
  font-size: .88em;
}

input[type="checkbox"] {
  position: relative;
  width: 50%;
  height: 61px;
  -webkit-appearance: none;
  background-color: #c6c6c6;
  outline: none;
  border-radius: 40px;
  box-shadow: inset 0 0 5px rgb(0, 0, 0, .2);
  transition: .5s;
}

input:checked[type="checkbox"] {

  background: #BADA55;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 20%;
  height: 60px;
  border-radius: 40px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #fff 0%, hsl(0, 93%, 68%));
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgb(0, 0, 0, .2);
  transition: .5s;
}

input:checked[type="checkbox"]:before {
  left: 60px;
}

@media screen (min-width:375px) {}

/* - Linear,
135deg,
from hsl(0, 0%, 100%),
to hsl(0, 100%, 98%) - Linear,
135deg,
from hsl(0, 80%, 86%),
to hsl(0, 74%, 74%) */