@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,700;1,600;1,700&display=swap');

:root {
  var--desaturatedRose: hsl(0, 93%, 68%);
}

html {
  margin: 0;
  padding: 0;
  /* max-width: 1440px; */
}

body {
  margin: 0;
  width: 100vw;
  font-size: 16px;
  font-family: Josefin Sans, sans-serif;
}

.BA-header {
  background-color: #FFF;
  text-align: left;
}

.logo {
  width: 100px;
  padding: 23px;
}

.BA-mainTitle {
  text-align: center;
  width: 100vw;
  padding-top: 40px;
}

.BA-mainPinkTitle {
  display: block;
  color: hsl(0, 36%, 70%);
  font-size: 2.25em;
  font-weight: 300;
  letter-spacing: 8.2px;
  text-transform: uppercase;
}

.BA-mainThickTitle {
  color: hsl(0, 6%, 24%);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 10.2px;
}

.BA-mainParagraph {
  color: hsl(0, 36%, 70%);
  line-height: 1.75em;
  font-size: .75em;
  font-weight: 300;
  padding: 5px 45px 17px;
}

#BA-form {
  display: flex;
  justify-content: center;
  border: 2px dotted #bada55;
}

.BA-email-input {
  width: 60%;
  height: 38px;
  border: 0.5px solid hsl(0, 36%, 70%);
  border-radius: 25px;
  padding: 3px 30px;
  cursor: pointer;
}

::placeholder {
  color: hsl(0, 36%, 70%);
  font-size: 12px;
  opacity: 1;
}

.arrow-icon {
  background-image: url("images/icon-arrow.svg");
}

.BA-mainButton {
  position: absolute;
  right: 57px;
  height: 47px;
  width: 59px;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 4px 4px 4px #aaa;
  cursor: pointer;
  margin: 0;
}

button:hover {
  opacity: .75;
}

#hiddinButton {
  visibility: hidden;
}

footer {
  margin-top: 25px;
}

/* input[type="email"]:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgb(0, 0, 0, .2);
  transition: .5s;
} */

/* input:checked[type="email"]:before {
  left: 60px; */

/* @media screen (min-width:375px) {} */

/* - Linear,
135deg,
from hsl(0, 0%, 100%),
to hsl(0, 100%, 98%) - Linear,
135deg,
from hsl(0, 80%, 86%),
to hsl(0, 74%, 74%) */